
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.second{
    display: flex;
    justify-content: center;
   
    align-items:center;
    max-width:90vw;
    position: relative;
    margin:auto;
    min-width: 70vw;
    gap:10vw;
    padding-top: 15vh;
}
.second .text{
    width:666px;
}

.text {
    font-family:"Rajdhani", sans-serif;
    height: 90%;
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.878);
    position: relative;
    padding-top: 10px;
    
    
}
.text> :nth-child(1){
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
}
.text> :nth-child(2){
    font-size: 1.5rem;
    font-weight:400;
    text-align: left;
}
.text> :nth-child(3){
    font-size: 1.2rem;
    font-weight:400;
    text-align: center;
}
@media screen and (max-width:800px) {
    .second{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 150px;
    }
    .oppo{
        display:flex;
        flex-direction: column;
    }
    .second .text{
        padding-top: 0;
    }
    .text> :nth-child(1){
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        width:80vw;
    }
    .text> :nth-child(2){
        font-size: 1.5rem;
        font-weight:400;
        text-align: left;
        width:80%
    }
    .second button{
        background-color: white;
      
    }
    .second .grow{
        width:100%;
        
    }


}
.second .button{
    width:200px;
}
.grow {
    position: absolute;
    top: 0.5em;
    right:0;
    font-size: 12rem;
    opacity: 0.3;
    color: red;
    font-family: "Montserrat";
    font-size: 12vw;
    font-weight: 600;
    line-height: 365.7px;
    letter-spacing: 0.08em;
    text-align: center;
    z-index:-4;
    
}
.two{
    position: absolute;
   
}
