
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.second{
    display: flex;
    justify-content: center;
   
    align-items:center;
    max-width:90vw;
   
    margin:auto;
    min-width: 70vw;
    gap:10vw;
    padding-top: 15vh;
}
.second .text{
    width:666px;
}

.text {
    font-family:"Inter", sans-serif;
    height: 90%;
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.878);
    position: relative;
    padding-top: 150px;
    
    
}
.text> :nth-child(1){
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}
.text> :nth-child(2){
    font-size: 1.5rem;
    font-weight:400;
    text-align: left;
}
.text> :nth-child(3){
    font-size: 1.2rem;
    font-weight:400;
    text-align: center;
}
@media screen and (max-width:1200px) {
    .second{
        display: flex;
        flex-direction: column;
    }
    .oppo{
        display:flex;
        flex-direction: column-reverse;
    }
    .text> :nth-child(1){
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        width:136%
    }
    .text> :nth-child(2){
        font-size: 1.5rem;
        font-weight:400;
        text-align: center;
        width:122%
    }


}
.second .button{
    width:200px;
}
